.menu{
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.menu-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
}