.item{
   display: flex;
   justify-content: space-between;
   align-items: center;
  gap: 20px;

}
.item-details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.line{
    width: 130px;
    border-top: 1px solid #FFCE6D;
}
.item-details h5{
    color: #FFF;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
}
.item-details span{
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
}
.item img{
    width: 90px;
    height:90px;
}
.item .price{
    color: #FFCE6D;
    text-align: "right";
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
}