.section-header{
    margin: 10px 0;
    color: #A08040;
    font-family: 'Dancing Script';
    color: #FFCE6D;
    font-size: 36px;
    font-weight: 700;
    line-height: 117.3%;
    letter-spacing: 3.6px;
}