.statistics{
    width: 100%;
    height: 192px;
    flex-shrink: 0;
    background-color: rgb(16, 20, 24,70%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:176px;;
}